.page-content {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 5em;
    padding-bottom: 5em;
    padding-left: 2em;
    padding-right: 2em;
}

.table {
    flex: 10%;
    display: flex;
    flex-direction: column;
}

.table input {
    width: 100%;
}